@font-face {
  font-family: myFirstFont;
  src: url(/fonts/Inter/InterDisplay-Black.woff2);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

:root {
  display: flex;
  justify-content: center;
}

html,
body,
:root {
  --neutral-1000: #000002;
  --neutral-900: #131516;
  --neutral-800: #353535;
  --neutral-700: #575757;
  --neutral-600: #7b7b7b;
  --neutral-500: #adadad;
  --neutral-100: #fdfdfc;

  --primary-500: #ff5c00;

  font-family: Inter, sans-serif;
  line-height: 140%;
  font-weight: 400;
  background-color: var(--neutral-100);

  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

:root::-webkit-scrollbar {
  display: none;
}

#root {
  display: flex;
  flex-direction: column;
  gap: 45px;
}

/* .inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings: "slnt" 0;
} */

p {
  font-size: 16px;
  color: var(--neutral-900);
}

h1 {
  font-family: myFirstFont, sans-serif;
  font-size: 150px;
  font-weight: 800;
  text-transform: uppercase;
  color: transparent;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "slnt" 0;
  -webkit-text-stroke: #ff5c00 5px;
  z-index: 2;
}

h2 {
  font-family: myFirstFont, sans-serif;
  text-transform: uppercase;
  color: transparent;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "slnt" 0;
  -webkit-text-stroke: #ff5c00 2px;
  font-weight: 800;
  font-size: 50px;
  z-index: 2;
}

a {
  text-decoration: none;
  color: var(--neutral-900);
}

.navbar {
  position: fixed;
  top: 50vh;
  left: 90px;
  display: flex;
  gap: 11px;
  flex-direction: column;
  z-index: 15;
  transform: translateY(-50%);
}
.navbar-bar {
  width: 11px;
  height: 11px;
  background-color: var(--neutral-1000);
  cursor: pointer;
  transition: width 0.5s ease;
}

.navbar-bar.active {
  width: 90px;
}

.canvas {
  position: absolute;
  z-index: 2;
}

.page {
  width: 100vw;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  max-height: 1200px;
  max-width: 1440px;
  background-color: var(--neutral-100);
}

.mask {
  position: absolute;
  width: 216px; /* adjust as needed */
  height: 438px; /* adjust as needed */
  background-color: black; /* or any other color */
  cursor: pointer;
}
.bottom-fade {
  z-index: 2;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 400px;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #ffffff 50%);
}

.title-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 150px;
  pointer-events: none;
}

.title-container > *:last-child {
  -webkit-text-stroke: 0;
  color: var(--primary-500);
}

.background-entities {
  margin-left: 0;
  margin-right: 0;
  max-width: 1227px;
  height: 735px;
  overflow-y: hidden;
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  gap: 45px;
}
.background-entities::before {
  content: "";
  background: radial-gradient(
    farthest-corner at 40px 40px,
    var(--neutral-100) 20%,
    rgba(0, 0, 0, 0) 100%
  );
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  transform: scaleY(-1);
}

.background-entity {
  color: var(--neutral-500);
}

.coords-hr {
  width: 100%;
  height: 2px;
  background-color: var(--neutral-900);
  border: none;
  transform: translateX(100%) translateY(-430%);
}

.coords-container {
  z-index: 3;
  position: absolute;
  bottom: 120px;
  right: 0;
  transform: translateX(-100%);
}

.birthdate-container {
  z-index: 3;
  position: absolute;
  top: 90px;
  left: 0px;
  transform: rotate(-90deg);
}

.birthdate-hr {
  width: 100%;
  height: 2px;
  background-color: var(--neutral-900);
  border: none;
  transform: translateX(-102%) translateY(-430%);
}

.content-div {
  display: flex;
  gap: 90px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  z-index: 3;
  margin-left: 296px;
  margin-right: 90px;
  width: 100%;
  height: 100%;
}

.content-div-section {
  display: flex;
  flex-direction: column;
  gap: 52px;
}

.content-div-main-image {
  width: 450px;
  height: 585px;
  background-image: url(/images/me.jpg);
  background-size: cover;
  background-position: center;
}

.skills-logos {
  display: flex;
  flex-wrap: wrap;
  gap: 52px;
  max-width: 350px;
}

.projects-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 90px;
}

.project-card {
  width: 320px;
  height: 320px;
  overflow: hidden;
  /* filter: grayscale(100%); */
  display: flex;
  justify-content: center;
  align-items: center;

  transition: transform 0.5s;
  box-shadow: 4px 4px 0px 1px rgb(255, 92, 0);
}

.project-card a {
  filter: grayscale(100%);
  transition: filter 0.5s;

  &:hover {
    filter: grayscale(0%);
  }
}

.project-card:hover {
  filter: grayscale(0%);
  transform: scale(1.05);
}

.back-to-home {
  position: absolute;
  top: 90px;
  left: 90px;
  z-index: 10;
}

.project-detail img {
  max-height: 400px;
}

.project-detail-images {
  display: flex;
  flex-wrap: wrap;
  column-gap: 45px;
  flex-direction: row;
  align-items: baseline;
  z-index: 3;
  margin-left: 296px;
  margin-right: 90px;
  width: 100%;
  height: 100%;
}
.project-detail-images > * {
  width: 337px;
  height: auto;
}

/* media query for 1110 px */
@media (max-width: 1110px) {
  .skills-logos > * > * {
    width: 30px;
    height: 30px;
  }
}

@media (max-width: 1000px) {
  .skills-logos {
    gap: 33.75px;
  }

  /* .content-div {
    flex-direction: column;
    justify-content: center;
  } */

  .content-div-main-image {
    width: 225px;
    height: 292.5px;
  }
}

@media (max-width: 950px) {
  .skills-logos {
    gap: 22.5px;
  }

  .title-container h1 {
    font-size: 100px;
  }
}

@media (max-width: 900px) {
  .content-div {
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
  }
}

@media (max-width: 800px) {
  .content-div {
    margin-left: 90px;
  }
}

@media (max-width: 750px) {
  .title-container h1 {
    font-size: 50px;
    -webkit-text-stroke: #ff5c00 3px;
  }

  .title-container {
    gap: 50px;
  }
}

@media (max-width: 650px) {
  .content-div-main-image {
    width: 100%;
  }

  h2 {
    font-size: 30px;
  }
}
